<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <system.serviceModel>
        <bindings>
            <basicHttpBinding>
                <binding name="UtilCreditCardAuthBinding" />
                <binding name="DocumentTransmissionBinding" />
                <binding name="McoCreateAgencyFeeBinding" />
                <binding name="McoVoidBinding" />
                <binding name="McoSearchBinding" />
                <binding name="ReportRetrieveBinding" />
                <binding name="MctCountBinding" />
                <binding name="MctLookupBinding" />
                <binding name="CalculateTaxBinding" />
                <binding name="UpsellAdminBinding" />
                <binding name="BrandedFareAdminBinding" />
                <binding name="BrandedFareSearchBinding" />
                <binding name="UpsellAdminSearchBinding" />
                <binding name="ContentProviderRetrieveBinding" />
                <binding name="UtilCurrencyConversionBinding" />
                <binding name="ReferenceDataRetrieveBinding" />
                <binding name="ReferenceDataLookupBinding" />
                <binding name="ReferenceDataUpdateBinding" />
                <binding name="AgencyCreateServiceFeeBinding" />
                <binding name="FindEmployeesOnFlightServiceBinding" />
                <binding name="AirRepriceSearchBinding" />
                <binding name="AirScheduleSearchBinding" />
                <binding name="AirLowFareSearchBinding" />
                <binding name="AirLowFareSearchAsynchBinding" />
                <binding name="AirRetrieveLowFareSearchBinding" />
                <binding name="AirPriceBinding" />
                <binding name="AirFareRulesBinding" />
                <binding name="AirAvailabilitySearchBinding" />
                <binding name="AirFareDisplayBinding" />
                <binding name="SeatMapBinding" />
                <binding name="AirRefundQuoteBinding" />
                <binding name="AirRefundTicketBinding" />
                <binding name="AirTicketingBinding" />
                <binding name="AirVoidDocumentBinding" />
                <binding name="AirRetrieveDocumentBinding" />
                <binding name="AirExchangeProcessBinding" />
                <binding name="AirExchangeQuoteBinding" />
                <binding name="AirExchangeTicketingBinding" />
                <binding name="AirMerchandisingOfferAvailabilityBinding" />
                <binding name="AirUpsellSearchBinding" />
                <binding name="FlightTimeTableBinding" />
                <binding name="AirPrePayBinding" />
                <binding name="EMDRetrieveBinding" />
                <binding name="EMDIssuanceBinding" />
                <binding name="AirMerchandisingDetailsBinding" />
                <binding name="FlightInfoBinding" />
                <binding name="FlightDetailsBinding" />
                <binding name="HotelSearchServiceBinding" />
                <binding name="HotelMediaLinksServiceBinding" />
                <binding name="HotelDetailsServiceBinding" />
                <binding name="HotelRetrieveServiceBinding" />
                <binding name="HotelRulesServiceBinding" />
                <binding name="HotelUpsellSearchServiceBinding" />
                <binding name="HotelKeywordsServiceBinding" />
                <binding name="HotelSuperShopperServiceBinding" />
            </basicHttpBinding>
        </bindings>
        <client>
            <endpoint address="http://localhost:8080/kestrel/CreditCardAuthorizationService"
                binding="basicHttpBinding" bindingConfiguration="UtilCreditCardAuthBinding"
                contract="Travelport.uAPI.Util.UtilCreditCardAuthPortType"
                name="UtilCreditCardAuthPort" />
            <endpoint address="http://localhost:8080/kestrel/UtilService"
                binding="basicHttpBinding" bindingConfiguration="DocumentTransmissionBinding"
                contract="Travelport.uAPI.Util.DocumentTransmissionPortType"
                name="DocumentTransmissionPort" />
            <endpoint address="http://localhost:8080/kestrel/UtilService"
                binding="basicHttpBinding" bindingConfiguration="McoCreateAgencyFeeBinding"
                contract="Travelport.uAPI.Util.McoCreateAgencyFeePortType"
                name="McoCreateAgencyFeePort" />
            <endpoint address="http://localhost:8080/kestrel/UtilService"
                binding="basicHttpBinding" bindingConfiguration="McoVoidBinding"
                contract="Travelport.uAPI.Util.McoVoidPortType" name="McoVoidPort" />
            <endpoint address="http://localhost:8080/kestrel/UtilService"
                binding="basicHttpBinding" bindingConfiguration="McoSearchBinding"
                contract="Travelport.uAPI.Util.McoSearchPortType" name="McoSearchPort" />
            <endpoint address="http://localhost:8080/kestrel/UtilService"
                binding="basicHttpBinding" bindingConfiguration="ReportRetrieveBinding"
                contract="Travelport.uAPI.Util.ReportRetrievePortType" name="ReportRetrievePort" />
            <endpoint address="http://localhost:8080/kestrel/UtilService"
                binding="basicHttpBinding" bindingConfiguration="MctCountBinding"
                contract="Travelport.uAPI.Util.MctCountPortType" name="MctCountPort" />
            <endpoint address="http://localhost:8080/kestrel/UtilService"
                binding="basicHttpBinding" bindingConfiguration="MctLookupBinding"
                contract="Travelport.uAPI.Util.MctLookupPortType" name="MctLookupPort" />
            <endpoint address="http://localhost:8080/kestrel/UtilService"
                binding="basicHttpBinding" bindingConfiguration="CalculateTaxBinding"
                contract="Travelport.uAPI.Util.CalculateTaxPortType" name="CalculateTaxPort" />
            <endpoint address="http://localhost:8080/kestrel/UpsellAdminService"
                binding="basicHttpBinding" bindingConfiguration="UpsellAdminBinding"
                contract="Travelport.uAPI.Util.UpsellAdminPortType" name="UpsellAdminPort" />
            <endpoint address="http://localhost:8080/kestrel/BrandedFareService"
                binding="basicHttpBinding" bindingConfiguration="BrandedFareAdminBinding"
                contract="Travelport.uAPI.Util.BrandedFareAdminPortType" name="BrandedFareAdminPort" />
            <endpoint address="http://localhost:8080/kestrel/BrandedFareService"
                binding="basicHttpBinding" bindingConfiguration="BrandedFareSearchBinding"
                contract="Travelport.uAPI.Util.BrandedFareSearchPortType"
                name="BrandedFareSearchPort" />
            <endpoint address="http://localhost:8080/kestrel/UpsellAdminSearchService"
                binding="basicHttpBinding" bindingConfiguration="UpsellAdminSearchBinding"
                contract="Travelport.uAPI.Util.UpsellAdminSearchPortType"
                name="UpsellAdminSearchPort" />
            <endpoint address="http://localhost:8080/kestrel/UtilService"
                binding="basicHttpBinding" bindingConfiguration="ContentProviderRetrieveBinding"
                contract="Travelport.uAPI.Util.ContentProviderRetrievePortType"
                name="ContentProviderRetrievePort" />
            <endpoint address="http://localhost:8080/kestrel/CurrencyConversionService"
                binding="basicHttpBinding" bindingConfiguration="UtilCurrencyConversionBinding"
                contract="Travelport.uAPI.Util.UtilCurrencyConversionPortType"
                name="UtilCurrencyConversionPort" />
            <endpoint address="http://localhost:8080/kestrel/UtilService"
                binding="basicHttpBinding" bindingConfiguration="ReferenceDataRetrieveBinding"
                contract="Travelport.uAPI.Util.ReferenceDataRetrievePortType"
                name="ReferenceDataRetrievePort" />
            <endpoint address="http://localhost:8080/kestrel/ReferenceDataLookupService"
                binding="basicHttpBinding" bindingConfiguration="ReferenceDataLookupBinding"
                contract="Travelport.uAPI.Util.ReferenceDataLookupPortType"
                name="ReferenceDataLookupPort" />
            <endpoint address="http://localhost:8080/kestrel/UtilService"
                binding="basicHttpBinding" bindingConfiguration="ReferenceDataUpdateBinding"
                contract="Travelport.uAPI.Util.ReferenceDataUpdatePortType"
                name="ReferenceDataUpdatePort" />
            <endpoint address="http://localhost:8080/kestrel/AgencyFeeService"
                binding="basicHttpBinding" bindingConfiguration="AgencyCreateServiceFeeBinding"
                contract="Travelport.uAPI.Util.AgencyCreateServiceFeePortType"
                name="TravelAgencyFeePort" />
            <endpoint address="http://localhost:8080/kestrel/FindEmployeesOnFlightService"
                binding="basicHttpBinding" bindingConfiguration="FindEmployeesOnFlightServiceBinding"
                contract="Travelport.uAPI.Util.FindEmployeesOnFlightServicePortType"
                name="FindEmployeesOnFlightServicePort" />
            <endpoint address="http://localhost:8080/kestrel/AirService"
                binding="basicHttpBinding" bindingConfiguration="AirRepriceSearchBinding"
                contract="Travelport.uAPI.Air.AirRepriceSearchPortType" name="AirRepriceSearchPort" />
            <endpoint address="http://localhost:8080/kestrel/AirService"
                binding="basicHttpBinding" bindingConfiguration="AirScheduleSearchBinding"
                contract="Travelport.uAPI.Air.AirScheduleSearchPortType" name="AirScheduleSearchPort" />
            <endpoint address="http://localhost:8080/kestrel/AirService"
                binding="basicHttpBinding" bindingConfiguration="AirLowFareSearchBinding"
                contract="Travelport.uAPI.Air.AirLowFareSearchPortType" name="AirLowFareSearchPort" />
            <endpoint address="http://localhost:8080/kestrel/AirService"
                binding="basicHttpBinding" bindingConfiguration="AirLowFareSearchAsynchBinding"
                contract="Travelport.uAPI.Air.AirLowFareSearchAsynchPortType"
                name="AirLowFareSearchAsynchPort" />
            <endpoint address="http://localhost:8080/kestrel/AirService"
                binding="basicHttpBinding" bindingConfiguration="AirRetrieveLowFareSearchBinding"
                contract="Travelport.uAPI.Air.AirRetrieveLowFareSearchPortType"
                name="AirRetrieveLowFareSearchPort" />
            <endpoint address="http://localhost:8080/kestrel/AirService"
                binding="basicHttpBinding" bindingConfiguration="AirPriceBinding"
                contract="Travelport.uAPI.Air.AirPricePortType" name="AirPricePort" />
            <endpoint address="http://localhost:8080/kestrel/AirService"
                binding="basicHttpBinding" bindingConfiguration="AirFareRulesBinding"
                contract="Travelport.uAPI.Air.AirFareRulesPortType" name="AirFareRulesPort" />
            <endpoint address="http://localhost:8080/kestrel/AirService"
                binding="basicHttpBinding" bindingConfiguration="AirAvailabilitySearchBinding"
                contract="Travelport.uAPI.Air.AirAvailabilitySearchPortType"
                name="AirAvailabilitySearchPort" />
            <endpoint address="http://localhost:8080/kestrel/AirService"
                binding="basicHttpBinding" bindingConfiguration="AirFareDisplayBinding"
                contract="Travelport.uAPI.Air.AirFareDisplayPortType" name="AirFareDisplayPort" />
            <endpoint address="http://localhost:8080/kestrel/AirService"
                binding="basicHttpBinding" bindingConfiguration="SeatMapBinding"
                contract="Travelport.uAPI.Air.SeatMapPortType" name="SeatMapPort" />
            <endpoint address="http://localhost:8080/kestrel/AirService"
                binding="basicHttpBinding" bindingConfiguration="AirRefundQuoteBinding"
                contract="Travelport.uAPI.Air.AirRefundQuotePortType" name="AirRefundQuotePort" />
            <endpoint address="http://localhost:8080/kestrel/AirService"
                binding="basicHttpBinding" bindingConfiguration="AirRefundTicketBinding"
                contract="Travelport.uAPI.Air.AirRefundTicketPortType" name="AirRefundTicketPort" />
            <endpoint address="http://localhost:8080/kestrel/AirService"
                binding="basicHttpBinding" bindingConfiguration="AirTicketingBinding"
                contract="Travelport.uAPI.Air.AirTicketingPortType" name="AirTicketingPort" />
            <endpoint address="http://localhost:8080/kestrel/AirService"
                binding="basicHttpBinding" bindingConfiguration="AirVoidDocumentBinding"
                contract="Travelport.uAPI.Air.AirVoidDocumentPortType" name="AirVoidDocumentPort" />
            <endpoint address="http://localhost:8080/kestrel/AirService"
                binding="basicHttpBinding" bindingConfiguration="AirRetrieveDocumentBinding"
                contract="Travelport.uAPI.Air.AirRetrieveDocumentPortType"
                name="AirRetrieveDocumentBindingPort" />
            <endpoint address="http://localhost:8080/kestrel/AirService"
                binding="basicHttpBinding" bindingConfiguration="AirExchangeProcessBinding"
                contract="Travelport.uAPI.Air.AirExchangeProcessPortType"
                name="AirExchangeProcessPort" />
            <endpoint address="http://localhost:8080/kestrel/AirService"
                binding="basicHttpBinding" bindingConfiguration="AirExchangeQuoteBinding"
                contract="Travelport.uAPI.Air.AirExchangeQuotePortType" name="AirExchangeQuotePort" />
            <endpoint address="http://localhost:8080/kestrel/AirService"
                binding="basicHttpBinding" bindingConfiguration="AirExchangeTicketingBinding"
                contract="Travelport.uAPI.Air.AirExchangeTicketingPortType"
                name="AirExchangeTicketingPort" />
            <endpoint address="http://localhost:8080/kestrel/AirService"
                binding="basicHttpBinding" bindingConfiguration="AirMerchandisingOfferAvailabilityBinding"
                contract="Travelport.uAPI.Air.AirMerchandisingOfferAvailabilityPortType"
                name="AirMerchandisingOfferAvailabilityPort" />
            <endpoint address="http://localhost:8080/kestrel/AirService"
                binding="basicHttpBinding" bindingConfiguration="AirUpsellSearchBinding"
                contract="Travelport.uAPI.Air.AirUpsellSearchPortType" name="AirUpsellSearchPort" />
            <endpoint address="http://localhost:8080/kestrel/AirService"
                binding="basicHttpBinding" bindingConfiguration="FlightTimeTableBinding"
                contract="Travelport.uAPI.Air.FlightTimeTablePortType" name="FlightTimeTablePort" />
            <endpoint address="http://localhost:8080/kestrel/AirService"
                binding="basicHttpBinding" bindingConfiguration="AirPrePayBinding"
                contract="Travelport.uAPI.Air.AirPrePayPortType" name="AirPrePayPort" />
            <endpoint address="http://localhost:8080/kestrel/AirService"
                binding="basicHttpBinding" bindingConfiguration="EMDRetrieveBinding"
                contract="Travelport.uAPI.Air.EMDRetrievePortType" name="EMDRetrievePort" />
            <endpoint address="http://localhost:8080/kestrel/AirService"
                binding="basicHttpBinding" bindingConfiguration="EMDIssuanceBinding"
                contract="Travelport.uAPI.Air.EMDIssuancePortType" name="EMDIssuancePort" />
            <endpoint address="http://localhost:8080/kestrel/AirService"
                binding="basicHttpBinding" bindingConfiguration="AirMerchandisingDetailsBinding"
                contract="Travelport.uAPI.Air.AirMerchandisingDetailsPortType"
                name="AirMerchandisingDetailsPort" />
            <endpoint address="http://localhost:8080/kestrel/FlightService"
                binding="basicHttpBinding" bindingConfiguration="FlightInfoBinding"
                contract="Travelport.uAPI.Air.FlightInfoPortType" name="FlightInfoPort" />
            <endpoint address="http://localhost:8080/kestrel/FlightService"
                binding="basicHttpBinding" bindingConfiguration="FlightDetailsBinding"
                contract="Travelport.uAPI.Air.FlightDetailsPortType" name="FlightDetailsPort" />
            <endpoint address="http://localhost:8080/kestrel/HotelService"
                binding="basicHttpBinding" bindingConfiguration="HotelSearchServiceBinding"
                contract="Travelport.uAPI.Hotel.HotelSearchServicePortType"
                name="HotelSearchServicePort" />
            <endpoint address="http://localhost:8080/kestrel/HotelService"
                binding="basicHttpBinding" bindingConfiguration="HotelMediaLinksServiceBinding"
                contract="Travelport.uAPI.Hotel.HotelMediaLinksServicePortType"
                name="HotelMediaLinksServicePort" />
            <endpoint address="http://localhost:8080/kestrel/HotelService"
                binding="basicHttpBinding" bindingConfiguration="HotelDetailsServiceBinding"
                contract="Travelport.uAPI.Hotel.HotelDetailsServicePortType"
                name="HotelDetailsServicePort" />
            <endpoint address="http://localhost:8080/kestrel/HotelService"
                binding="basicHttpBinding" bindingConfiguration="HotelRetrieveServiceBinding"
                contract="Travelport.uAPI.Hotel.HotelRetrieveServicePortType"
                name="HotelRetrieveServicePort" />
            <endpoint address="http://localhost:8080/kestrel/HotelService"
                binding="basicHttpBinding" bindingConfiguration="HotelRulesServiceBinding"
                contract="Travelport.uAPI.Hotel.HotelRulesServicePortType"
                name="HotelRulesServicePort" />
            <endpoint address="http://localhost:8080/kestrel/HotelService"
                binding="basicHttpBinding" bindingConfiguration="HotelUpsellSearchServiceBinding"
                contract="Travelport.uAPI.Hotel.HotelUpsellSearchServicePortType"
                name="HotelUpsellSearchServicePort" />
            <endpoint address="http://localhost:8080/kestrel/HotelService"
                binding="basicHttpBinding" bindingConfiguration="HotelKeywordsServiceBinding"
                contract="Travelport.uAPI.Hotel.HotelKeywordsServicePortType"
                name="HotelKeywordsServicePort" />
            <endpoint address="http://localhost:8080/kestrel/HotelService"
                binding="basicHttpBinding" bindingConfiguration="HotelSuperShopperServiceBinding"
                contract="Travelport.uAPI.Hotel.HotelSuperShopperServicePortType"
                name="HotelSuperShopperServicePort" />
        </client>
    </system.serviceModel>
</configuration>