<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <appSettings>
    <add key="UserID" value="Universal API/uAPI6768275016-96b0fd84" />
    <add key="Password" value="Kbb4tRMBgEGRNr2bC7YBDt56T" />
    <add key="URL" value="https://apac.universal-api.pp.travelport.com/B2BGateway/connect/uAPI/AirService" />
    <add key="AuthorizedBy" value="user" />
    <add key="TraceId" value="trace" />
    <add key="TargetBranch" value="P7009887" />
    <add key="MaxSearchResult" value="10"/>
    <add key="WebRequestMaxRetries" value="3"/>
    <add key="WebRequestTimeout" value="500"/>
  </appSettings>
</configuration>